.Track {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(256, 256, 256, 0.7);
  }
  
  .Track-action {
    cursor: pointer;
    padding: .5rem 0;
    font-size: 2.5rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  
  .Track-action:hover {
    color: rgb(163, 163, 163);
  }
  
  .Track-information {
    flex-grow: 1;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
  }
  
  .Track-information h3 {
    font-size: 2rem;
  }
  
  .Track-information p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
  }

  @media only screen and (max-width: 1020px) {
    .Track-information h3 {
      font-size: 1rem;
    }
    
    .Track-information p {
      font-size: .9rem;
      font-weight: 300;
      color: rgba(256, 256, 256, 0.8);
    }
  }