* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100vh;
  background: rgb(0, 0, 0);
}

html {
  font-size: 18px;
}
.App {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  display: grid;
  grid-template-areas:
    "sb sb pl"
    "sr sr pl";

  .search-bar {
    grid-area: sb;
    width: 70vw;
    height: 20vh;
  }

  .search-results {
    grid-area: sr;
    width: 70vw;
    height: 80vh;
    padding: 0 .5%;
  }

  .app-playlist {
    grid-area: pl;
    width: 30vw;
    height: 100vh;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}


@media only screen and (max-width: 1100px) {
  .App {
    width: 100vw;
    display: grid;
    grid-template-areas:
      "sb"
      "sr"
      "pl";

    .search-bar {
      grid-area: sb;
      width: 100vw;
      height: 100%;
    }

    .search-results {
      grid-area: sr;
      width: 100vw;
      height: 100%;
    }

    .app-playlist {
      grid-area: pl;
      width: 100vw;
      height: 100vh;
    }
  }
}
