.SearchBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin: 0 10px;
}

.fade-in {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  width: auto;
  height: 100%;
}

.SearchButton {
  visibility: hidden;
}

.SearchBar input {
  width: 80%;
  height: 65px;
  color: #2e2e2e;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 50px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 5px 4px rgba(255, 255, 255, 0.09);
  border-radius: 40.5px;
}

.SearchBar input:focus {
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .SearchBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .SearchBar input {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    padding: 10px 0px;
    color: #2e2e2e;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 0;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 5px 4px rgba(255, 255, 255, 0.09);
    border-radius: 40.5px;
  }
  .SearchButton {
    grid-area: s;
    visibility: visible;
    cursor: pointer;
    width: 9.11rem;
    padding: 0.3rem 0;
    border-radius: 54px;
    background: rgba(120, 120, 120, 0.4);
    text-align: center;
    font-size: 1.2rem;
    transition: background-color 0.25s;
    border: 0px;
    color: rgb(235, 235, 235);
    font-weight: 500;
  }

  .SearchButton:hover {
    background-color: rgba(108, 65, 233, 0.7);
  }
}
